<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/admin/add">
        <label for="add[nom]">nom</label><input type="text" name="add[nom]"><br>
        <label for="add[prix]">prix</label><input type="prix" name="add[prix]"><br>
        <label for="add[description]">description</label><input type="text" name="add[description]"><br>
        <input type="submit" value="Submit"></form>
</body>

</html>