<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register
    </title>
</head>

<body>
    <%= error %>

        <form method="post" action="/register">
            <label for="register[login]">Login</label><input type="text" name="register[login]"><br>
            <label for="register[email]">email</label><input type="email" name="register[email]"><br>
            <label for="register[password]">Password</label><input type="password" name="register[password]"><br>
            <label for="register[passwordconfirm]">Password Confirm</label><input type="password" name="register[passwordconfirm]"><br>
            <input type="submit" value="Submit"></form>
</body>

</html>